body {
    background-color: #666;
    margin: 0 auto;
    width: 1004px;
}
body#index
{
    height: 267px;
    width: 410px;
    margin:  0 auto;
    margin-top: 100px;
}
#header
{
    color: #fff;
    font-size: 30px;
    font-family: Arial, Verdana, sans-serif;
    height: 57px;
    padding-top: 23px;
    padding-left: 121px;
}
#links .item
{
    height: 38px;
    margin-right: 30px;
    padding-top: 20px;
    padding-left: 20px;
}
#info
{
    height: 40px;
    background-color: #ccc;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Arial, Verdana, sans-serif;
}
#links .item a
{
    width: 300px;
    display: block;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
}
#title_lib
{
    font-size: 50px;
    color: #fff;
    font-family: Arial, Verdana, sans-serif;
    margin-left: 155px;
}
#title
{
    font-size: 50px;
    color: #fff;
    font-family: Arial, Verdana, sans-serif;
    margin-left: 30px;
}
#links .item a:hover
{
    text-decoration: underline;
}
canvas {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 9px;
}

.fail {
    border: 3px solid red;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: -2px;
}

#textResult {
    height: 30px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 20px;
}
ul#links{
    height: 267px;
    width: 410px;
    background: transparent url(../images/links.png) left top no-repeat;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 26px;
    padding-left: 14px;
}
#text{
    height: 30px;
    line-height: 20px;
}
#result {
    padding-top: 7px;
    line-height: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    height: 30px;
    background-color: #000;
    color: #ccc;
    font-family: monospace;
}